In [838]:
#INSTANTIATE PANDAS
import pandas as pd
#INITIALIZE COLUMNS:
col1 = [1,2,2,2,1,None,2,None,None,None,None,None,None,None,8,9,10]
col2 = [10,21,22,22,None,None,2,None,None,None,None,None,None,None,81,92,102]
col3 = ["log","text","log","log",None,None,2,None,None,"text","text","log","log","csv","csv","csv","log"]
col4 = ["blue","green","red","red","blue","blue","blue","green",None,None,"blue","red","red","red","red","red","red"]
col5 = [10,21,22,22,None,None,2,None,None,None,None,None,None,None,81,92,102]

In [839]:
# CREATE DATAFRAME WITH THESE COLUMNS
df = pd.DataFrame({"first": col1, "second": col2, "third": col3, "fourth": col4, "fifth": col5})
df

    first  second third fourth  fifth
0     1.0    10.0   log   blue   10.0
1     2.0    21.0  text  green   21.0
2     2.0    22.0   log    red   22.0
3     2.0    22.0   log    red   22.0
4     1.0     NaN  None   blue    NaN
5     NaN     NaN  None   blue    NaN
6     2.0     2.0     2   blue    2.0
7     NaN     NaN  None  green    NaN
8     NaN     NaN  None   None    NaN
9     NaN     NaN  text   None    NaN
10    NaN     NaN  text   blue    NaN
11    NaN     NaN   log    red    NaN
12    NaN     NaN   log    red    NaN
13    NaN     NaN   csv    red    NaN
14    8.0    81.0   csv    red   81.0
15    9.0    92.0   csv    red   92.0
16   10.0   102.0   log    red  102.0

In [840]:
# GET THE NUMBER OF ROWS
df.shape[0]

17

In [841]:
# GET THE NUMBER OF COLUMNS
df.shape[1]

5

In [842]:
# SHOW FIRST 5 ROWS AND COLUMNS
df.iloc[0:5,0:5]

   first  second third fourth  fifth
0    1.0    10.0   log   blue   10.0
1    2.0    21.0  text  green   21.0
2    2.0    22.0   log    red   22.0
3    2.0    22.0   log    red   22.0
4    1.0     NaN  None   blue    NaN

In [843]:
# CREATE A NEW COLUMN
df["sixth"] = df["second"]*df["fifth"]
df.iloc[0:16,0:6]

    first  second third fourth  fifth   sixth
0     1.0    10.0   log   blue   10.0   100.0
1     2.0    21.0  text  green   21.0   441.0
2     2.0    22.0   log    red   22.0   484.0
3     2.0    22.0   log    red   22.0   484.0
4     1.0     NaN  None   blue    NaN     NaN
5     NaN     NaN  None   blue    NaN     NaN
6     2.0     2.0     2   blue    2.0     4.0
7     NaN     NaN  None  green    NaN     NaN
8     NaN     NaN  None   None    NaN     NaN
9     NaN     NaN  text   None    NaN     NaN
10    NaN     NaN  text   blue    NaN     NaN
11    NaN     NaN   log    red    NaN     NaN
12    NaN     NaN   log    red    NaN     NaN
13    NaN     NaN   csv    red    NaN     NaN
14    8.0    81.0   csv    red   81.0  6561.0
15    9.0    92.0   csv    red   92.0  8464.0

In [844]:
# FILL COL 1 FORWARD
df["first"] = df["first"].ffill()

# FILL COL 6 BACKWARD
df["sixth"] = df["sixth"].bfill()
df

    first  second third fourth  fifth    sixth
0     1.0    10.0   log   blue   10.0    100.0
1     2.0    21.0  text  green   21.0    441.0
2     2.0    22.0   log    red   22.0    484.0
3     2.0    22.0   log    red   22.0    484.0
4     1.0     NaN  None   blue    NaN      4.0
5     1.0     NaN  None   blue    NaN      4.0
6     2.0     2.0     2   blue    2.0      4.0
7     2.0     NaN  None  green    NaN   6561.0
8     2.0     NaN  None   None    NaN   6561.0
9     2.0     NaN  text   None    NaN   6561.0
10    2.0     NaN  text   blue    NaN   6561.0
11    2.0     NaN   log    red    NaN   6561.0
12    2.0     NaN   log    red    NaN   6561.0
13    2.0     NaN   csv    red    NaN   6561.0
14    8.0    81.0   csv    red   81.0   6561.0
15    9.0    92.0   csv    red   92.0   8464.0
16   10.0   102.0   log    red  102.0  10404.0

In [845]:
# ITERATE OVER SERIES AND DO SIMPLE REPLACEMENT
# PUSH THE NEW VALUES BACK INTO THE SERIES
new_vals = []
for i,t in df["second"].iteritems():
    if t == 2.0:
        t = 90.00
    new_vals.append(t)

df["second"] = new_vals
df

    first  second third fourth  fifth    sixth
0     1.0    10.0   log   blue   10.0    100.0
1     2.0    21.0  text  green   21.0    441.0
2     2.0    22.0   log    red   22.0    484.0
3     2.0    22.0   log    red   22.0    484.0
4     1.0     NaN  None   blue    NaN      4.0
5     1.0     NaN  None   blue    NaN      4.0
6     2.0    90.0     2   blue    2.0      4.0
7     2.0     NaN  None  green    NaN   6561.0
8     2.0     NaN  None   None    NaN   6561.0
9     2.0     NaN  text   None    NaN   6561.0
10    2.0     NaN  text   blue    NaN   6561.0
11    2.0     NaN   log    red    NaN   6561.0
12    2.0     NaN   log    red    NaN   6561.0
13    2.0     NaN   csv    red    NaN   6561.0
14    8.0    81.0   csv    red   81.0   6561.0
15    9.0    92.0   csv    red   92.0   8464.0
16   10.0   102.0   log    red  102.0  10404.0

In [846]:
# REMOVE TOP TWO ROWS
df = df[2:]

# RESET THE INDEX
# drop=True ensures that the index is updated only and not added as a column.
df = df.reset_index(drop=True)
df

    first  second third fourth  fifth    sixth
0     2.0    22.0   log    red   22.0    484.0
1     2.0    22.0   log    red   22.0    484.0
2     1.0     NaN  None   blue    NaN      4.0
3     1.0     NaN  None   blue    NaN      4.0
4     2.0    90.0     2   blue    2.0      4.0
5     2.0     NaN  None  green    NaN   6561.0
6     2.0     NaN  None   None    NaN   6561.0
7     2.0     NaN  text   None    NaN   6561.0
8     2.0     NaN  text   blue    NaN   6561.0
9     2.0     NaN   log    red    NaN   6561.0
10    2.0     NaN   log    red    NaN   6561.0
11    2.0     NaN   csv    red    NaN   6561.0
12    8.0    81.0   csv    red   81.0   6561.0
13    9.0    92.0   csv    red   92.0   8464.0
14   10.0   102.0   log    red  102.0  10404.0

In [847]:
# REMOVE THE BOTTOM TWO ROWS
df = df[:-2]

# RESET THE INDEX AGAIN
df = df.reset_index(drop=True)
df

    first  second third fourth  fifth   sixth
0     2.0    22.0   log    red   22.0   484.0
1     2.0    22.0   log    red   22.0   484.0
2     1.0     NaN  None   blue    NaN     4.0
3     1.0     NaN  None   blue    NaN     4.0
4     2.0    90.0     2   blue    2.0     4.0
5     2.0     NaN  None  green    NaN  6561.0
6     2.0     NaN  None   None    NaN  6561.0
7     2.0     NaN  text   None    NaN  6561.0
8     2.0     NaN  text   blue    NaN  6561.0
9     2.0     NaN   log    red    NaN  6561.0
10    2.0     NaN   log    red    NaN  6561.0
11    2.0     NaN   csv    red    NaN  6561.0
12    8.0    81.0   csv    red   81.0  6561.0

In [848]:
# GRAB A SHORT SUBSET
df_subset_raw = df.iloc[0:4,0:6]
df_subset_raw

   first  second third fourth  fifth  sixth
0    2.0    22.0   log    red   22.0  484.0
1    2.0    22.0   log    red   22.0  484.0
2    1.0     NaN  None   blue    NaN    4.0
3    1.0     NaN  None   blue    NaN    4.0

In [849]:
# MELT THE THIRD AND FOURTH COLUMNS INTO ROWS
# KEEP THE FIRST, SECOND, FIFTH and SIXTH COLUMNS STATIC AND MELT THE DATA AROUND THEM
# USE NAME: "ATTRIBUTE" FOR THE NEW COLUMN NAME and "VALUES" FOR NEW COLUMN VALUES
static = [ "first", "second", "fifth", "sixth" ]
df_subset_raw.melt(id_vars=static, var_name='attribute', value_name='values')

   first  second  fifth  sixth attribute values
0    2.0    22.0   22.0  484.0     third    log
1    2.0    22.0   22.0  484.0     third    log
2    1.0     NaN    NaN    4.0     third   None
3    1.0     NaN    NaN    4.0     third   None
4    2.0    22.0   22.0  484.0    fourth    red
5    2.0    22.0   22.0  484.0    fourth    red
6    1.0     NaN    NaN    4.0    fourth   blue
7    1.0     NaN    NaN    4.0    fourth   blue

In [850]:
#RE ORGANISE THE COLUMNS. MOVE ATTRIBUTE AND VALUE TO THE BEGINNING
new_column_order = ["attribute", "values", "first", "second", "fifth", "sixth"]
df = df.reindex(columns=new_column_order)
df

    attribute  values  first  second  fifth   sixth
0         NaN     NaN    2.0    22.0   22.0   484.0
1         NaN     NaN    2.0    22.0   22.0   484.0
2         NaN     NaN    1.0     NaN    NaN     4.0
3         NaN     NaN    1.0     NaN    NaN     4.0
4         NaN     NaN    2.0    90.0    2.0     4.0
5         NaN     NaN    2.0     NaN    NaN  6561.0
6         NaN     NaN    2.0     NaN    NaN  6561.0
7         NaN     NaN    2.0     NaN    NaN  6561.0
8         NaN     NaN    2.0     NaN    NaN  6561.0
9         NaN     NaN    2.0     NaN    NaN  6561.0
10        NaN     NaN    2.0     NaN    NaN  6561.0
11        NaN     NaN    2.0     NaN    NaN  6561.0
12        NaN     NaN    8.0    81.0   81.0  6561.0

In [851]:
# ADD SOME TEXT COLUMNS
seventh = ["lone-wolf", "top-gun", "red-dead","Silverdollar","green-beret","mike-hammer","yellow-jello-belly-smelly","purple-heart","black-knight","white-ghost","grey-beard", "flat-white","michael-angelo"]

# Now work out the index of the next available column
next_col = df.shape[1] # This returns the column numbers from base 0 so can be used for insertion point:

df.insert(loc=next_col, column="seventh", value=seventh, allow_duplicates=True)
df

    attribute  values  first  second  fifth   sixth                    seventh
0         NaN     NaN    2.0    22.0   22.0   484.0                  lone-wolf
1         NaN     NaN    2.0    22.0   22.0   484.0                    top-gun
2         NaN     NaN    1.0     NaN    NaN     4.0                   red-dead
3         NaN     NaN    1.0     NaN    NaN     4.0               Silverdollar
4         NaN     NaN    2.0    90.0    2.0     4.0                green-beret
5         NaN     NaN    2.0     NaN    NaN  6561.0                mike-hammer
6         NaN     NaN    2.0     NaN    NaN  6561.0  yellow-jello-belly-smelly
7         NaN     NaN    2.0     NaN    NaN  6561.0               purple-heart
8         NaN     NaN    2.0     NaN    NaN  6561.0               black-knight
9         NaN     NaN    2.0     NaN    NaN  6561.0                white-ghost
10        NaN     NaN    2.0     NaN    NaN  6561.0                 grey-beard
11        NaN     NaN    2.0     NaN    NaN  6561.0                 flat-white
12        NaN     NaN    8.0    81.0   81.0  6561.0             michael-angelo

In [852]:
# SPLIT COLUMN SEVEN ON HYPHEN DELIMITER - ANY NUMBER OF SPLITS
splits = df["seventh"].str.split("-", -1, expand=True)

for i in splits:
    name = "chunk_" + str(i)
    df[name] = splits[i]

df

,attribute,values,first,second,fifth,sixth,seventh,chunk_0,chunk_1,chunk_2,chunk_3
0,NaN,NaN,2.0,22.0,22.0,484.0,lone-wolf,lone,wolf,None,None
1,NaN,NaN,2.0,22.0,22.0,484.0,top-gun,top,gun,None,None
2,NaN,NaN,1.0,NaN,NaN,4.0,red-dead,red,dead,None,None
3,NaN,NaN,1.0,NaN,NaN,4.0,Silverdollar,Silverdollar,None,None,None
4,NaN,NaN,2.0,90.0,2.0,4.0,green-beret,green,beret,None,None
5,NaN,NaN,2.0,NaN,NaN,6561.0,mike-hammer,mike,hammer,None,None
6,NaN,NaN,2.0,NaN,NaN,6561.0,yellow-jello-belly-smelly,yellow,jello,belly,smelly
7,NaN,NaN,2.0,NaN,NaN,6561.0,purple-heart,purple,heart,None,None
8,NaN,NaN,2.0,NaN,NaN,6561.0,black-knight,black,knight,None,None
9,NaN,NaN,2.0,NaN,NaN,6561.0,white-ghost,white,ghost,None,None
10,NaN,NaN,2.0,NaN,NaN,6561.0,grey-beard,grey,beard,None,None
11,NaN,NaN,2.0,NaN,NaN,6561.0,flat-white,flat,white,None,None
12,NaN,NaN,8.0,81.0,81.0,6561.0,michael-angelo,michael,angelo,None,None

In [853]:
# DROP COLUMNS BY COLUMN NAMES
cols_to_drop = ["fifth","chunk_3"]
df = df.drop(columns=cols_to_drop)
df

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2
0,NaN,NaN,2.0,22.0,484.0,lone-wolf,lone,wolf,None
1,NaN,NaN,2.0,22.0,484.0,top-gun,top,gun,None
2,NaN,NaN,1.0,NaN,4.0,red-dead,red,dead,None
3,NaN,NaN,1.0,NaN,4.0,Silverdollar,Silverdollar,None,None
4,NaN,NaN,2.0,90.0,4.0,green-beret,green,beret,None
5,NaN,NaN,2.0,NaN,6561.0,mike-hammer,mike,hammer,None
6,NaN,NaN,2.0,NaN,6561.0,yellow-jello-belly-smelly,yellow,jello,belly
7,NaN,NaN,2.0,NaN,6561.0,purple-heart,purple,heart,None
8,NaN,NaN,2.0,NaN,6561.0,black-knight,black,knight,None
9,NaN,NaN,2.0,NaN,6561.0,white-ghost,white,ghost,None
10,NaN,NaN,2.0,NaN,6561.0,grey-beard,grey,beard,None
11,NaN,NaN,2.0,NaN,6561.0,flat-white,flat,white,None
12,NaN,NaN,8.0,81.0,6561.0,michael-angelo,michael,angelo,None

In [854]:
# ADD A PREFIX TO A COLUMN
df['attribute'] = df["attribute"].map('i-am-a-prefix-{}'.format)
df

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2
0,i-am-a-prefix-nan,NaN,2.0,22.0,484.0,lone-wolf,lone,wolf,None
1,i-am-a-prefix-nan,NaN,2.0,22.0,484.0,top-gun,top,gun,None
2,i-am-a-prefix-nan,NaN,1.0,NaN,4.0,red-dead,red,dead,None
3,i-am-a-prefix-nan,NaN,1.0,NaN,4.0,Silverdollar,Silverdollar,None,None
4,i-am-a-prefix-nan,NaN,2.0,90.0,4.0,green-beret,green,beret,None
5,i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,mike-hammer,mike,hammer,None
6,i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,yellow-jello-belly-smelly,yellow,jello,belly
7,i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,purple-heart,purple,heart,None
8,i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,black-knight,black,knight,None
9,i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,white-ghost,white,ghost,None
10,i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,grey-beard,grey,beard,None
11,i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,flat-white,flat,white,None
12,i-am-a-prefix-nan,NaN,8.0,81.0,6561.0,michael-angelo,michael,angelo,None

In [855]:
# ADD A PREFIX TO A COLUMN - ALTERNATIVE METHOD
df['attribute'] = 'first-' + df['attribute']
df
# chance that may need to cast the column value to str for this to work so use:
# df['attribute'] = 'first-' + df['attribute'].astype(str)
# If that is needed

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2
0,first-i-am-a-prefix-nan,NaN,2.0,22.0,484.0,lone-wolf,lone,wolf,None
1,first-i-am-a-prefix-nan,NaN,2.0,22.0,484.0,top-gun,top,gun,None
2,first-i-am-a-prefix-nan,NaN,1.0,NaN,4.0,red-dead,red,dead,None
3,first-i-am-a-prefix-nan,NaN,1.0,NaN,4.0,Silverdollar,Silverdollar,None,None
4,first-i-am-a-prefix-nan,NaN,2.0,90.0,4.0,green-beret,green,beret,None
5,first-i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,mike-hammer,mike,hammer,None
6,first-i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,yellow-jello-belly-smelly,yellow,jello,belly
7,first-i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,purple-heart,purple,heart,None
8,first-i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,black-knight,black,knight,None
9,first-i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,white-ghost,white,ghost,None
10,first-i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,grey-beard,grey,beard,None
11,first-i-am-a-prefix-nan,NaN,2.0,NaN,6561.0,flat-white,flat,white,None
12,first-i-am-a-prefix-nan,NaN,8.0,81.0,6561.0,michael-angelo,michael,angelo,None

In [856]:
# ADD A SUFFIX TO A COLUMN
df['attribute'] = df["attribute"].map('{}-I-am-a-suffix'.format)
df
# ALTERNATIVE METHOD FOR PREFIX ALSO WORKS FOR SUFFIX

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2
0,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,lone-wolf,lone,wolf,None
1,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,top-gun,top,gun,None
2,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,red-dead,red,dead,None
3,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,Silverdollar,Silverdollar,None,None
4,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,90.0,4.0,green-beret,green,beret,None
5,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,mike-hammer,mike,hammer,None
6,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,yellow-jello-belly-smelly,yellow,jello,belly
7,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,purple-heart,purple,heart,None
8,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,black-knight,black,knight,None
9,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,white-ghost,white,ghost,None
10,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,grey-beard,grey,beard,None
11,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,flat-white,flat,white,None
12,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,8.0,81.0,6561.0,michael-angelo,michael,angelo,None

In [857]:
# MERGE COLUMNS TOGETHER
df['merged'] = df['chunk_0'] + df['chunk_1']
df

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2,merged
0,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,lone-wolf,lone,wolf,None,lonewolf
1,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,top-gun,top,gun,None,topgun
2,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,red-dead,red,dead,None,reddead
3,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,Silverdollar,Silverdollar,None,None,NaN
4,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,90.0,4.0,green-beret,green,beret,None,greenberet
5,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,mike-hammer,mike,hammer,None,mikehammer
6,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,yellow-jello-belly-smelly,yellow,jello,belly,yellowjello
7,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,purple-heart,purple,heart,None,purpleheart
8,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,black-knight,black,knight,None,blackknight
9,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,white-ghost,white,ghost,None,whiteghost
10,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,grey-beard,grey,beard,None,greybeard
11,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,flat-white,flat,white,None,flatwhite
12,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,8.0,81.0,6561.0,michael-angelo,michael,angelo,None,michaelangelo

In [858]:
# MERGE COLUMNS TOGETHER --FORCING TYPE TO CRUSH VALUES
df['alternative_merge'] = df['first'].astype(str) + "-" + df["second"].astype(str) + "-" + df["sixth"].astype(str)
df

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2,merged,alternative_merge
0,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,lone-wolf,lone,wolf,None,lonewolf,2.0-22.0-484.0
1,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,top-gun,top,gun,None,topgun,2.0-22.0-484.0
2,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,red-dead,red,dead,None,reddead,1.0-nan-4.0
3,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,Silverdollar,Silverdollar,None,None,NaN,1.0-nan-4.0
4,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,90.0,4.0,green-beret,green,beret,None,greenberet,2.0-90.0-4.0
5,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,mike-hammer,mike,hammer,None,mikehammer,2.0-nan-6561.0
6,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,yellow-jello-belly-smelly,yellow,jello,belly,yellowjello,2.0-nan-6561.0
7,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,purple-heart,purple,heart,None,purpleheart,2.0-nan-6561.0
8,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,black-knight,black,knight,None,blackknight,2.0-nan-6561.0
9,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,white-ghost,white,ghost,None,whiteghost,2.0-nan-6561.0
10,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,grey-beard,grey,beard,None,greybeard,2.0-nan-6561.0
11,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,flat-white,flat,white,None,flatwhite,2.0-nan-6561.0
12,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,8.0,81.0,6561.0,michael-angelo,michael,angelo,None,michaelangelo,8.0-81.0-6561.0

In [859]:
# MODIFY SERIES TO.UPPER
df["chunk_0"] = df["chunk_0"].str.upper()
df

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2,merged,alternative_merge
0,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,lone-wolf,LONE,wolf,None,lonewolf,2.0-22.0-484.0
1,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,top-gun,TOP,gun,None,topgun,2.0-22.0-484.0
2,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,red-dead,RED,dead,None,reddead,1.0-nan-4.0
3,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,Silverdollar,SILVERDOLLAR,None,None,NaN,1.0-nan-4.0
4,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,90.0,4.0,green-beret,GREEN,beret,None,greenberet,2.0-90.0-4.0
5,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,mike-hammer,MIKE,hammer,None,mikehammer,2.0-nan-6561.0
6,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,yellow-jello-belly-smelly,YELLOW,jello,belly,yellowjello,2.0-nan-6561.0
7,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,purple-heart,PURPLE,heart,None,purpleheart,2.0-nan-6561.0
8,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,black-knight,BLACK,knight,None,blackknight,2.0-nan-6561.0
9,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,white-ghost,WHITE,ghost,None,whiteghost,2.0-nan-6561.0
10,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,grey-beard,GREY,beard,None,greybeard,2.0-nan-6561.0
11,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,flat-white,FLAT,white,None,flatwhite,2.0-nan-6561.0
12,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,8.0,81.0,6561.0,michael-angelo,MICHAEL,angelo,None,michaelangelo,8.0-81.0-6561.0

In [860]:
# MODIFY SERIES TO.LOWER
df["chunk_0"] = df["chunk_0"].str.lower()
df

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2,merged,alternative_merge
0,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,lone-wolf,lone,wolf,None,lonewolf,2.0-22.0-484.0
1,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,top-gun,top,gun,None,topgun,2.0-22.0-484.0
2,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,red-dead,red,dead,None,reddead,1.0-nan-4.0
3,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,Silverdollar,silverdollar,None,None,NaN,1.0-nan-4.0
4,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,90.0,4.0,green-beret,green,beret,None,greenberet,2.0-90.0-4.0
5,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,mike-hammer,mike,hammer,None,mikehammer,2.0-nan-6561.0
6,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,yellow-jello-belly-smelly,yellow,jello,belly,yellowjello,2.0-nan-6561.0
7,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,purple-heart,purple,heart,None,purpleheart,2.0-nan-6561.0
8,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,black-knight,black,knight,None,blackknight,2.0-nan-6561.0
9,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,white-ghost,white,ghost,None,whiteghost,2.0-nan-6561.0
10,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,grey-beard,grey,beard,None,greybeard,2.0-nan-6561.0
11,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,flat-white,flat,white,None,flatwhite,2.0-nan-6561.0
12,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,8.0,81.0,6561.0,michael-angelo,michael,angelo,None,michaelangelo,8.0-81.0-6561.0

In [861]:
# DUPLICATE A COLUM
df['duped'] = df["first"]
df

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2,merged,alternative_merge,duped
0,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,lone-wolf,lone,wolf,None,lonewolf,2.0-22.0-484.0,2.0
1,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,top-gun,top,gun,None,topgun,2.0-22.0-484.0,2.0
2,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,red-dead,red,dead,None,reddead,1.0-nan-4.0,1.0
3,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,Silverdollar,silverdollar,None,None,NaN,1.0-nan-4.0,1.0
4,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,90.0,4.0,green-beret,green,beret,None,greenberet,2.0-90.0-4.0,2.0
5,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,mike-hammer,mike,hammer,None,mikehammer,2.0-nan-6561.0,2.0
6,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,yellow-jello-belly-smelly,yellow,jello,belly,yellowjello,2.0-nan-6561.0,2.0
7,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,purple-heart,purple,heart,None,purpleheart,2.0-nan-6561.0,2.0
8,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,black-knight,black,knight,None,blackknight,2.0-nan-6561.0,2.0
9,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,white-ghost,white,ghost,None,whiteghost,2.0-nan-6561.0,2.0
10,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,grey-beard,grey,beard,None,greybeard,2.0-nan-6561.0,2.0
11,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,flat-white,flat,white,None,flatwhite,2.0-nan-6561.0,2.0
12,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,8.0,81.0,6561.0,michael-angelo,michael,angelo,None,michaelangelo,8.0-81.0-6561.0,8.0

In [862]:
# FILTER BASED ON A VALUE IN ONE OF THE COLUMNS
filtered = df[ df["sixth"] == 484.0]
filtered

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2,merged,alternative_merge,duped
0,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,lone-wolf,lone,wolf,None,lonewolf,2.0-22.0-484.0,2.0
1,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,top-gun,top,gun,None,topgun,2.0-22.0-484.0,2.0

In [863]:
# FILTERING BASED ON MULTIPLE CONDITIONS
# CONDITION 1: first == 2
# CONDITION 2: seventh == white-ghost
v1 = 2
v2 = 'grey-beard'
multi_filter = df.loc[(df['first'] == v1) & (df['seventh'] == v2)]
multi_filter

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2,merged,alternative_merge,duped
10,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,grey-beard,grey,beard,None,greybeard,2.0-nan-6561.0,2.0

In [864]:
df

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2,merged,alternative_merge,duped
0,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,lone-wolf,lone,wolf,None,lonewolf,2.0-22.0-484.0,2.0
1,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,22.0,484.0,top-gun,top,gun,None,topgun,2.0-22.0-484.0,2.0
2,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,red-dead,red,dead,None,reddead,1.0-nan-4.0,1.0
3,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,1.0,NaN,4.0,Silverdollar,silverdollar,None,None,NaN,1.0-nan-4.0,1.0
4,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,90.0,4.0,green-beret,green,beret,None,greenberet,2.0-90.0-4.0,2.0
5,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,mike-hammer,mike,hammer,None,mikehammer,2.0-nan-6561.0,2.0
6,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,yellow-jello-belly-smelly,yellow,jello,belly,yellowjello,2.0-nan-6561.0,2.0
7,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,purple-heart,purple,heart,None,purpleheart,2.0-nan-6561.0,2.0
8,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,black-knight,black,knight,None,blackknight,2.0-nan-6561.0,2.0
9,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,white-ghost,white,ghost,None,whiteghost,2.0-nan-6561.0,2.0
10,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,grey-beard,grey,beard,None,greybeard,2.0-nan-6561.0,2.0
11,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,2.0,NaN,6561.0,flat-white,flat,white,None,flatwhite,2.0-nan-6561.0,2.0
12,first-i-am-a-prefix-nan-I-am-a-suffix,NaN,8.0,81.0,6561.0,michael-angelo,michael,angelo,None,michaelangelo,8.0-81.0-6561.0,8.0

In [867]:
# SET 'FIRST' COLUMN TO BE A SPECIFIC TYPE
df['first'] = df['first'].astype('int')
# SET 'VALUES' COLUMN TO BE A SPECIFIC TYPE
df['values'] = df['values'].astype('string')
df['second'] = df['second'].astype('object')
df

,attribute,values,first,second,sixth,seventh,chunk_0,chunk_1,chunk_2,merged,alternative_merge,duped
0,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,2,22,484.0,lone-wolf,lone,wolf,None,lonewolf,2.0-22.0-484.0,2.0
1,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,2,22,484.0,top-gun,top,gun,None,topgun,2.0-22.0-484.0,2.0
2,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,1,NaN,4.0,red-dead,red,dead,None,reddead,1.0-nan-4.0,1.0
3,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,1,NaN,4.0,Silverdollar,silverdollar,None,None,NaN,1.0-nan-4.0,1.0
4,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,2,90,4.0,green-beret,green,beret,None,greenberet,2.0-90.0-4.0,2.0
5,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,2,NaN,6561.0,mike-hammer,mike,hammer,None,mikehammer,2.0-nan-6561.0,2.0
6,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,2,NaN,6561.0,yellow-jello-belly-smelly,yellow,jello,belly,yellowjello,2.0-nan-6561.0,2.0
7,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,2,NaN,6561.0,purple-heart,purple,heart,None,purpleheart,2.0-nan-6561.0,2.0
8,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,2,NaN,6561.0,black-knight,black,knight,None,blackknight,2.0-nan-6561.0,2.0
9,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,2,NaN,6561.0,white-ghost,white,ghost,None,whiteghost,2.0-nan-6561.0,2.0
10,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,2,NaN,6561.0,grey-beard,grey,beard,None,greybeard,2.0-nan-6561.0,2.0
11,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,2,NaN,6561.0,flat-white,flat,white,None,flatwhite,2.0-nan-6561.0,2.0
12,first-i-am-a-prefix-nan-I-am-a-suffix,<NA>,8,81,6561.0,michael-angelo,michael,angelo,None,michaelangelo,8.0-81.0-6561.0,8.0